* {
    margin:0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

/* ETIQUETAS */

html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #080F0F;
}

main{
    background-color: #9E2B25;
}

footer{
    display: flex;
    background-color: #080F0F;
    justify-content: space-between;
}

h1{
    text-align: center;
    color: #FFF8F0;
    font-size: 40px;
    padding-top: 20px;
}

h2{
    color: #FFF8F0
}

p{
    color: #FFF8F0;
    font-size: 15px;
    text-align: justify;
    margin: 15px;
}

nav{
    width: 30%;
    margin-top: 30px;
    margin-right: 30px;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #FFF8F0;
    font-size: 15px;
}

/* CLASES */
.logos{
    width: 120px;
}

.socialMedia{
    width: 30px;
}

.socialHeader{
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
}

.titulosSecundarios{
    text-align: center;
    color: #fff8f0;
    font-size: 25px;
}

.card{
    display: flex;
    align-items: center;
}

.fotosCard{
    height: 300px;
    border-radius: 10%;
}

.navFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialFooter{
    /* margin-right: 20px;
    margin-top: 20px; */
    /* En este caso a fines practicos observe que era lo mismo utilizando margin y padding, creo que es debido a que esta parte esta al final de la pantalla (margenes) pero tambien cerca del contenedor <footer>, cual seria la forma semanticamente correcta en este caso? o puede utilizarse cualquiera? */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}