* {
    margin:0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

/* ETIQUETAS */

html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #080F0F;
}

/* agregado de un gradiente en el fondo del main */

main{
    background-image: linear-gradient( to left, #9E2B25, #e06b65);
}

footer{
    display: flex;
    background-color: #080F0F;
    justify-content: space-between;
}

h1{
    text-align: center;
    color: #FFF8F0;
    font-size: 40px;
    padding-top: 20px;
}

h2{
    color: #FFF8F0
}

p{
    color: #FFF8F0;
    font-size: 15px;
    text-align: justify;
    margin: 15px;
}

nav{
    width: 30%;
    margin-top: 30px;
    margin-right: 30px;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* agregado de transition */

a{
    text-decoration: none;
    color: #FFF8F0;
    font-size: 15px;
    transition: all 1s;
}

/* agregado de hover a los links de navegacion */

a:hover{
    font-size: 25px;
}

/* CLASES */
.logos{
    width: 120px;
}

.socialMedia{
    width: 30px;
}

.socialHeader{
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
}

.titulosSecundarios{
    text-align: center;
    color: #fff8f0;
    font-size: 25px;
}

.card{
    display: flex;
    align-items: center;
}

.fotosCard{
    height: 300px;
    border-radius: 10%;
}

.navFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialFooter{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NAV RESPONSIVE */

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #080F0F;
    padding: 15px;
}

.navbar a{
    text-decoration: none;
    color: #fff8f0;
}

.logo{
    margin-right: 50px;
}

.list{
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler,
.navbar label{
    display: none;
}

@media screen and (max-width: 767px){
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .menu{
        max-height: 100%;
    }
}