* {
    margin:0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

/* ETIQUETAS */

html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #080F0F;
}

main{
    background-color: #a49cb8;
}

footer{
    background-color: #080F0F;
}

h1{
    text-align: center;
    color: #FFF8F0;
    font-size: 40px;
    padding-top: 20px;
}

h2{
    color: #FFF8F0
}

p{
    color: #FFF8F0;
    font-size: 15px;
    text-align: justify;
    margin: 15px;
}

nav{
    width: 30%;
    margin-top: 30px;
    margin-right: 30px;
}

ul{
    list-style-type: none;
}

/* agregado de transition */

a{
    text-decoration: none;
    color: #FFF8F0;
    font-size: 15px;
}

nav{
    background-color: #080F0F;
}

/* CLASES */
.logos{
    width: 120px;
}

.socialMedia{
    width: 30px;
}

.socialHeader{
    display: flex;
    align-self: center;
    margin-right: 2%;
}

.titulosSecundarios{
    text-align: center;
    color: #fff8f0;
    font-size: 25px;
}

.card{
    display: flex;
    flex-direction: row;
    background-color: #a49cb8;
    border: none;
    margin-top: 3%;
}

.fotosCard{
    width: 8%;
}

.navFooter{
}

.socialFooter{
    padding: 20px;
}