* {
    margin:0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

/* ETIQUETAS */

html{
    font-size: 62.5%;
    background-color: #080F0F;
}
body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #080F0F;
    display: flex;
    justify-content: space-between;
}

main{
    background-color: #a49cb8;
}

footer{
    background-color: #080F0F;
}

h1{
    text-align: center;
    color: #FFF8F0;
    font-size: 40px;
    padding-top: 20px;
}

h2{
    color: #FFF8F0
}

p{
    color: #FFF8F0;
    font-size: 15px;
    text-align: justify;
    margin: 15px;
}

nav{
    margin-top: 30px;
    margin-right: 30px;
    background-color: #080F0F;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #FFF8F0;
    font-size: 15px;
}

/* CLASES */
.logos{
    width: 120px;
}

.socialMedia{
    width: 30px;
}

.socialHeader{
    display: flex;
    align-self: center;
    justify-self: flex-end;
    margin-right: 2%;
}

.titulosSecundarios{
    text-align: center;
    color: #fff8f0;
    font-size: 25px;
}

.card{
    display: flex;
    flex-direction: row;
    background-color: #a49cb8;
    border: none;
    margin-top: 3%;
}

.fotosCard{
    width: 144px;
    height: 144px
}

.socialFooter{
    padding: 20px;
    width: 200px;
}

.socialTitle{
    font-size: 20px;
    padding-bottom: 3%;
}

.footerNav{
    display: flex;
    align-self: center;
    flex-direction: column;
}

@media (max-width: 575px) {
    .fotosCard{
        display: none;}
}

@media (max-width: 767px) {
    
}

@media (max-width: 991px) {
    
}

@media (max-width: 1199px) {

}

#navBar{
    max-width: 80%;
}

.imgventas{
    width: 200px
}

.titles{
    color: #FFF8F0;
    font-size: 18px;
    font-weight: 600;
}

.textosCards{
    font-size: 16px;
    text-align: left;
}

.botones{
    color: #080F0F;
    background-color: #FFF8F0;
    font-weight: 600;
    font-size: 16px;
    border-radius: 20%;
    border-color: aqua;
}

.contenedor{
    max-width: 30%;
}

.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 20px;
    background-color: #080F0F;
}

div .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;

}